 .nationalities {
    margin-top: 15px;
 }
 .nationalities h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .nationalitiesCards {
   margin-top: 15px;
   display: flex;
   overflow-x: auto; /* Enable horizontal scrolling */
   flex-wrap: nowrap; /* Prevent cards from wrapping to the next line */
 }
 
 .nationalitiesCards > .cardWrapper {
   flex: 0 0 auto; /* Maintain original card width */
   margin-right: 5px; /* Add spacing between cards */
 }
  